.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.featureIconWrap {
  margin-top: 2rem;
}

.featureIcon {
  height: 90px;
  width: 90px;
}

.featureIcon:hover {
  opacity: 0.5;
}