:root {
  --ifm-color-primary: #ff5a5a;
  --background-color: #2e2e2e;
}

[data-theme='dark'] .navbar {
  --ifm-navbar-background-color: var(--ifm-background-color);
}

.hero {
  --ifm-hero-background-color: var(--background-color);
  --ifm-hero-text-color: white;
}

.footer {
  --ifm-footer-background-color: var(--background-color);
}

.DocCardList .card p {
  display: none;
}

.DocCardList .card h2 {
  margin-bottom: 0;
}